<template>
    <draggable class="flex kanban overflow-x-auto" v-bind="options()">
        <kanban-list v-for="list in lists" :key="list.id" :list="list"></kanban-list>
    </draggable>
</template>

<script>
    import Draggable from 'vuedraggable'
    import KanbanList from './KanbanList'

    export default {
        components: {
            Draggable,
            KanbanList
        },

        data() {
            return {
                lists: []
            }
        },

        created() {
            axios.get('recruitment/processes?applicants')
                .then((data) => {
                    this.lists = data
                })
        },

        mounted() {
            this.autoHeight()
        },

        methods: {
            options() {
                return {
                    animation: '200'
                }
            },

            autoHeight() {
                let kanban = document.querySelector('.kanban')

                kanban.style.height = (document.documentElement.clientHeight - 254) + 'px'
            }
        }
    }
</script>

<style>
    .sortable-ghost {
        opacity: 0.5;
        background-color: rgba(223, 238, 242, 0.4);
    }
</style>

<style>
.kanban::-webkit-scrollbar-thumb {
    background: #A0AEC0;
}
.kanban::-webkit-scrollbar {
    background: 0 0;
    height: 8px;
}
</style>
