<template>
    <div class="w-64 flex-shrink-0 space-r-2 pb-2">
        <div class="flex flex-col max-h-full card overflow-hidden">
            <h3 class="font-semibold px-4 py-3 border-b">
                {{ list.name }}
            </h3>

            <draggable v-bind="options()" @add="onAdd" :id="list.id" class="flex-1 overflow-y-auto" style="min-height: 70px;">
                <kanban-list-item v-for="item in list.applicants" :key="item.id" :item="item" :id="item.id"></kanban-list-item>
            </draggable>
        </div>
    </div>
</template>

<script>
    import Draggable from 'vuedraggable'
    import KanbanListItem from './KanbanListItem'

    export default {
        components: {
            Draggable,
            KanbanListItem
        },

        props: {
            list: ''
        },

        methods: {
            options() {
                return {
                    animation: '200',
                    group: 'kanbanItems'
                }
            },

            onAdd(event) {
                axios.post('recruitment/applicants/'+ event.item.id +'/process/' + event.to.id)
                    .then((data) => {
                        console.log(data)
                    })

                // console.log(event)
                // console.log(this.list)
                // console.log('onAdd')
                // console.log( event.item.id )
                // console.log(event.to.id)
                // console.log(event.item)
                // console.log(event.to)
                // console.log(event.from)
                // console.log(event.oldIndex)
                // console.log(event.newIndex)
                // console.log(event.oldDraggableIndex)
                // console.log(event.newDraggableIndex)
                // console.log(event.clone)
                // console.log(event.pullMode)
            }
        }
    }
</script>

<style>
    .space-r-2:not(:last-child) {
        margin-right: 1rem;
    }
</style>
