<template>
    <div class="m-2 bg-gray-100 shadow p-2 rounded">
        <a :href="'/app/recruitment/applicants/' + item.id" class="block font-semibold mb-2">{{ item.name }}</a>
        <p class="text-sm">
            {{ item.job.title.substring(0, 20) }}
        </p>
    </div>
</template>

<script>
    export default {
        props: {
            item: ''
        }
    }
</script>
