<template>
    <div class="card py-4 px-6">
        <textarea class="form-textarea block w-full mt-4" v-model="note"></textarea>

        <button class="btn btn-primary my-4"
                :disabled="processing"
                @click="onSubmit"
        >
            <LoadingSvg v-if="processing" color="text-white" width="40px"/>

            <span v-else>Add Note</span>
        </button>

        <div v-for="item in items" :key="item.id" class="border-b border-gray-300 my-4 pb-2">
            <p>{{ item.note }}</p>

            <small class="text-gray-800">
                {{ item.author.name }}
                <span class="text-gray-600 text-xs">{{ item.created_at }}</span>
            </small>
        </div>
    </div>
</template>

<script>
    import { ref } from '@vue/composition-api'

    export default {
        props: {
            id: ''
        },

        setup({id}) {
            let note = ref(''),
                items = ref([]),
                processing = ref(false)

            fetch()

            function fetch() {
                axios.get('recruitment/applicant-notes/' + id)
                    .then((data) => {
                        console.log(data)
                        items.value = data
                    })
                    .catch(error => {
                        console.log(error)
                    })
            }

            function onSubmit() {
                processing.value = true

                axios.post('recruitment/applicant-notes/' + id, { note: note.value })
                    .then((data) => {
                        processing.value = false

                        note.value = ''

                        fetch()
                    })
                    .catch(error => {
                        processing.value = false
                        console.log(error)
                    })
            }

            return {
                items,
                note,
                onSubmit,
                processing
            }
        }
    }
</script>
