.__cov-progress:before
    width: 100%
    content: " "
    background: black
    height: 3px
    position: fixed
    top: 0
    left: 0
    right: 0
    opacity: .1

[v-cloak]
    display: none

.app-card-links
    display: flex
    &:nth-child(n+3)
        display: none

.on-hover-app-card
    &:hover
        .app-card-links
            display: flex
